<app-title titleText="Partnereink"
                   titleDescription="Légy te is partnerünk"></app-title>
<div class="partners">
    <div class="col-lg-6 col-md-6">
        <picture>
            <img src="assets/img/hydra_group_image.jpeg" loading="lazy">
        </picture>
    </div>
    <div class="col-lg-6 col-md-6">
        <h2>Anareus CZ</h2>
        <a href="https://www.anareus.cz/" target="_blank">www.anareus.cz</a>
        <p>The Anareus CZ, s.r.o. company is focused on the trade with airsoft weapons, airsoft parts, outdoor &
            military clothes, gear and boots since year 2001, when we've became the first specialized brick-and-mortar
            (physical) shop in Czech Republic. Our Showroom is the biggiest in the Czech Republic in this time.</p>
        <p>We are the direct importers and representatives for many worldknown brand & manufacturers. Primary we import
            the goods from Japan, Hong Kong, Taiwan, China and from USA, Canada as well.</p>
    </div>
</div>
