
nav{
    display: flex;
    height: 150px;
    justify-content: center;
    flex-direction: column;
    ul{
        gap: 30px;
        padding: 0;
        display: flex;
        margin: 0 0 0 10px;
        li{
            list-style-type: none;
        }
    }
    @media only screen and (max-width: 768px) {
        display: none;
    }
}
