<header>
    <div class="container">
        <div class="row">
            <div class="col-lg col-md-5">
                <app-navigation-bar [listItems]="listItems"></app-navigation-bar>
            </div>
            <div id="header-brand" class="col-lg-2 col-md-2">
                <a href="">
                    <img src="assets/img/hydra_logo.svg">
                </a>
            </div>
            <div id="sponsors" class="col-lg-5 col-md-5">
                <a href="https://www.anareus.cz/" target="_blank">
                    <img src="assets/img/sponzored_by_anareus.svg">
                </a>
            </div>
        </div>
    </div>
</header>
